  <nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand logoTitle" style="color: rgb(77, 19, 124);" href="#"><span><img src="{{ url_for('static', filename='img/logo.png') }}" style="height: 50px;" alt=""></span> GeekVolunteers</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item linkLine">
            <a class="nav-link" href="#">Buscar Proyectos</a>
          </li>
          <li class="nav-item linkLine me-3">
            <a class="nav-link" href="#">Buscar Developers</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto">
          <li class="nav-item linkLine">
            <a class="nav-link" href="#">¿Quieres Formarte?</a>
          </li>
          <li class="nav-item linkLine me-3">
            <a class="nav-link" href="#">Novedades</a>
          </li>
          <li class="nav-item linkLine me-3">
            <a class="nav-link">Ingresar</a>
          </li>
          <div class="d-flex align-items-center">
          <span class="ms-3 me-3 border border-body-tertiary separator" style="height: 30px;"></span>
        </div>
          <li class="nav-item linkLine">
            <a class="nav-link">Organizaciones / Publicar Proyecto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
